.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchBar {
  width: 55rem;
  height: 4rem;
  background-color: #333948;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  margin-left: 0rem;
}

.icon {
  margin: 0.3rem 0.7rem 0 1.5rem;
}

.searchInputContainer {
  width: 50rem;
  padding-right: 1rem;
}

.searchInput {
  width: 100%;
  background-color: #333948;
  border: none;
  padding-top: 0.3rem;
  font-size: 1.4rem;
  color: #f3f4f7;
  align-items: center;
}

.searchInput:focus {
  border: none;
  outline: none;
}

.clearButton {
  margin-right: 1.5rem;
  background: none;
  border: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
}

.clearButton:hover {
  background-color: #555e77;
}
